body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}
nav {
    background-color: #333;
    padding: 10px;
    text-align: right;
    margin-bottom: 20px;
}
nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}
nav a:hover {
    text-decoration: underline;
}
.container {
    max-width: 800px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h2 {
    color: #333;
}
.profile-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.profile-info div {
    margin-right: 0px;
}
.profile-info h1 {
    margin: 0;
    color: #333;
}
.profile-info p {
    margin: 5px 0;
    color: #666;
}
.profile-info .edit-resume {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
}
.profile-info .edit-resume:hover {
    background-color: #555;
}
.profile-info .edit-kontak {
    background-color: #3300ff;
    color: #fff;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
}
.profile-info .edit-kontak:hover {
    background-color: #555;
}
.profile-info img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 20px;
}
form {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
label {
    margin-bottom: 5px;
    color: #555;
}
input[type="text"], input[type="email"], input[type="number"], select {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}
input[type="submit"] {
    background-color: #15b342cf;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #555;
}
footer {
    text-align: center;
    margin-top: 20px;
    color: #777;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
}